/* Body */
body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

/* Headings */
h1, h2, h3, h4, h5, h5 {
  font-family: "Montserrat";
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 10%;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Paragraph */
p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 3% 10%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
  position: relative;
}

.white-section {
  background-color: white;
  position: relative;
}

/* Navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 200;
}

/* Title */
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

/* Features */
.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Icons */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.75;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing */
.pricing-col {
  padding: 3% 3%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* CTA */
.cta-heading {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}

/* Footer */
.footer-icon {
  padding: 0 0.75%;
}

/* Download Button */
.download-button {
  margin: 3% 3% 3% 0;
}

/* Media Queries */
@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/*
  NOTE:
  CSS selectors priority:
    --> title
    --> class
    --> element
*/
